@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}



body{
	background: #575757;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
	font-size: 1.2rem;
	line-height: 1.6em;
	text-align: center;
}

h1{
	font-size: 2rem;
	line-height: 1.3em;
	text-align: center;
	padding-top: 50px;
}

p {
	margin-top: 20px;
	margin-bottom: 1.2em;
}

.container, .container2, .container3, .container4 {
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}


.img {
    position: relative;
    border-radius: 50px;
    bottom: -34px;
    margin-top: 50px;
    z-index: -5;
}

.header{
	background: black;
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.header a {
	color: white;
	text-decoration: none;
}

.header img{
	border-radius: 50px;
	padding-top: 5px;
}


.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li{
	display: inline-block;
}

.navigation ul li a{
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
}

.navigation ul li a:hover{
	background: #383838;
	border-radius: 50px;
}

.p1, .l{
	text-align: left;
}

.p2, .l2{
	text-align: right;
}


.p3, .l3{
	text-align: left;
}

.p4, .l4{
	text-align: right;
}

.menu-icon {
	display: none;
	transition: all 0.4s linear;
	padding: 0.5rem 1rem;
}

.footer {
	background: black;
	padding: 2rem 0;
	margin-top: 500px;
}

@media (max-width: 428px){
	.header{
	background: black;
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;	
}
	
	.menu-icon {
    display: block;
    cursor: pointer;
    position: relative;
	align-items: center;	
	}
	
	.menu-icon:hover {
		background: #383838;
		border-radius: 50px;
	}
	
	.logo-nav-container{
    align-items: center;
    flex-wrap: wrap;
	}
	
	.navigation{
		margin: 0.5rem;
	}
	
	.navigation ul.show{
		display: block;
	}
	
	.navigation ul li{
		display: block;
		text-align: center;
	}
	.navigation ul{
		display: none;
	}
	.navigation ul li a {
		padding: 0.2rem;
	}
	.header img{
		width: 50px;
		height: 50px;
	}
	.p1, .l{
		text-align: center;
		transition: all .04s linear;
	}
	.p2, .l2 {
	text-align: center;
	}

	.p3, .l3 {
	text-align: center;
	}
	
	.p4, .l4{
	text-align: center;
	}
}

.main {
	padding-top: 12rem;
}

@media (max-width:720px){
		.header{
	background: black;
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;	
}
	
	.menu-icon {
    display: block;
    cursor: pointer;
    position: relative;
	align-items: center;	
	}
	
	.menu-icon:hover {
		background: #383838;
		border-radius: 50px;
	}
	
	.logo-nav-container{
    align-items: center;
    flex-wrap: wrap;
	}
	
	.navigation{
		margin: 0.5rem;
	}
	
	.navigation ul.show{
		display: block;
	}
	
	.navigation ul li{
		display: block;
		text-align: center;
	}
	.navigation ul{
		display: none;
	}
	.navigation ul li a {
		padding: 0.2rem;
		align-items: center;
	}
	.header img{
		width: 50px;
		height: 50px;
	}
	.navigation ul li a {
		padding: 0.4rem;
	}
	.header img{
		width: 50px;
		height: 50px;
	}
	.p1, .l{
		text-align: center;
		transition: all .04s linear;
	}
	.p2, .l2 {
	text-align: center;
	}

	.p3, .l3 {
	text-align: center;
	}
	
	.p4, .l4{
	text-align: center;
	}
}
